header {
  display: flex;
  justify-content: space-between;
  padding: 25px;

  .logo {
    &--projekt {
      font-weight: lighter;
    }

    &--stolperstein {
      font-weight: bold;
    }
  }

  .navigation {
    a {
      text-decoration: none;
      color: white;
      letter-spacing: 2px;
    }
    li {
      display: inline-block;
      list-style-type: none;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
}