.intro {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  &--pic {
    padding: 25px;
    width: 350px;
    height: 350px;
  }

  &--text {
    padding: 25px;
    text-align: center;

    &__valign{
      display: flex;
      flex-direction: column;

      button {
        margin-top: 25px;
        padding: 5px 25px;
        border-radius: 25px;

        font-weight: bold;
        color: #009aac;
        letter-spacing: 1px;
        font-size: 14px;

        cursor: pointer;
      }
    }
  }
}