.stumbling-map {
  display: flex;
  justify-content: center;

  .mapid {
    width: 90%;
    height: 80vh;
    -webkit-box-shadow: 0px 0px 111px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 111px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 111px -16px rgba(0,0,0,0.75);
  }
}